@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Josefin+Sans:ital@1&family=Kalnia:wght@200;300&family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700;800&family=Rubik+Maps&family=Work+Sans:wght@400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.parents-p{
    font-size: 15px;
    color: #727272;
    max-width: 800px;
    margin: 0 auto;
}
header{
    background: rgba(255, 144, 14, 0.10);
}
.container{
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 30px;
    align-items: center;
}
nav h3{
    font-size: 38px;
}
.menu{
    display: flex;
    /* justify-content: space-between; */
    gap:60px
}
.menu > li{
    list-style: none;

}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}
.header-text{
    text-align: center;
}
.header-text h1{
    color: #131313;
text-align: center;
font-family: Work Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
padding-bottom: 25px;
line-height: normal;
}
.banner-img img{
    width: 100%;
    vertical-align: middle;
}
.btn{
    padding: 18px 30px;
    color: #fff;
    background-color: #FF900E;
    border: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 12px;
    margin: 30px 0 30px 0;
}



@media screen and (max-width:576px) {

    nav{
        flex-direction: column;
        padding: 20px;
    }
    .menu {
       flex-direction: column;
       text-align: center;
       gap: 20px;
       padding-top: 20px;
    }
    .menu li a{
        color: #FF900E;
        font-size: 18px;
        font-weight: 600;
    }
    .header-text h1{
        font-size: 50px;
        padding-top: 10px;
    }
    .banner-img img{
        width: 100%;
    }
    
}
@media screen and (min-width:576) and (max-width:992px) {
    
}